#example1 {
  border: 10px dashed black;
  padding: 25px;
  background: url(/Users/hanlim_air/Atom/CssProperties/img/hanyang.jpg);
  background-repeat: no-repeat;
  background-origin: padding-box;
}

#example2 {
  border: 10px dashed black;
  padding: 25px;
  background: url(/Users/hanlim_air/Atom/CssProperties/img/hanyang.jpg);
  background-repeat: no-repeat;
  background-origin: border-box;
}

#example3 {
  border: 10px dashed black;
  padding: 25px;
  background: url(/Users/hanlim_air/Atom/CssProperties/img/hanyang.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
}
