body {
  background-color: #E7E9EB;
}

#myDIV {
  height: 300px;
  background-color: #FFFFFF;
  border: 15px solid transparent;
  padding: 15px;
  border-image-source: url('/Users/hanlim_air/Atom/CssProperties/img/border.png');
  border-image-repeat: stretch;
  border-image-slice: 30;
  border-image-width: 10px;
  border-image-outset: 10px;
}
