ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
}

li::before {
  content: ">"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: red; /* Or a color you prefer */
}
