div {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes mymove {
  from {top: 0px; background-color: yellow;}
  to {top: 200px; background-color: blue;}
}
