#example1 {
  border: 2px solid red;
  padding: 10px;
  border-bottom-left-radius: 25px;
}

#example2 {
  border: 2px solid red;
  padding: 10px;
  border-bottom-left-radius: 50px 20px;
}

#example3 {
  border: 5px solid blue;
  background: url(/Users/hanlim_air/Atom/CssProperties/img/pattern.jpg);
  padding: 10px;
  border-bottom-left-radius: 40%;

}
